<form method="get" action="/quizes/">
  <div class="pregunta_input">
    <input type="text" name="search" placeholder="Busca una pregunta"/>
    <input class="button" type="submit" value="Buscar"/>
  </div>
</form>

<% if(filtered) { %>
<div>
  <span>Resultado de la búsqueda: </span>
</div>
<div>
    <% var i;
      for(i=0; i<quizes.length; i++){ %>
          <span><a href="<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></span>
          <span><a href="<%= quizes[i].id %>/edit"><button>Editar</button></a></span><br/>
    <% } %>
</div>
<% } else { %>
<div>
    <% var i;
      for(i=0; i<quizes.length; i++){ %>
          <span><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></span>
          <span><a href="quizes/<%= quizes[i].id %>/edit"><button>Editar</button></a></span><br/>
    <% } %>
</div>
<% } %>

<div>
  <a href="quizes/new"><button type="button">Crear Pregunta</button></a>
</div>
