<div class="statisticsTitle">
  Estadísticas de Quiz
</div>

<table>
  <tr>
    <td>El número de preguntas es:</td> <td><strong><%= statistics.quizesCount %></strong></td>
  </tr>
  <tr>
    <td>El número de comentarios totales es:</td> <td><strong><%= statistics.commentsCount %></strong></td>
  </tr>
  <tr>
    <td>El número medio de comentarios por pregunta es:</td> <td><strong><%= statistics.quizCommentAverage %></strong></td>
  </tr>
  <tr>
    <td>El número de preguntas sin comentarios es:</td> <td><strong><%= statistics.quizesWithoutComment %></strong></td>
  </tr>
  <tr>
    <td>El número de preguntas con comentarios es:</td> <td><strong><%= statistics.quizesWithComment %></strong></td>
  </tr>
</table>
